<img src="cid:${cid1}" alt="" style="display:block; margin:0 auto; width:80%; text-align:center;">
<br>
<img src="cid:${cid2}" alt="" style="display:block; margin:0 auto; width:80%; text-align:center;">

<img src="cid:${code}" alt="" style="display:block; margin:0 auto; width:80%; text-align:center;">

